---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
import ServiceCard from "./ServiceCard.astro";
const {alt, title} = Astro.props

import ballena from "../assets/ballena.png"
import corona from "../assets/corona.png"
import caballito from "../assets/caballito.png"
import arcos from "../assets/arcos.png"
import kiosko from "../assets/kiosko.png"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<div class={alt ? "pt-20 pb-24 bg-alt5" : "pt-10 pb-24"}> 
    <div class="container mx-auto ">
        <div class="lg:w-1/2 mb-10 mx-auto">
            <h2 class={` text-center ${alt ? "text-white" : ""} `}>{title}</h2>
        </div>
        <div class="grid md:grid-cols-8 xl:grid-cols-12 gap-12">
            <ServiceCard title={t("nav.legal")} href={translatePath('/services/legal-services/')} img={ballena.src}/>
            <ServiceCard title={t("nav.corporate")} href={translatePath('/services/corporate-law-services/')} img={corona.src}/>
            <ServiceCard title={t("nav.administrative")} href={translatePath('/services/administrative-services/')} img={caballito.src}/>
            <div class="hidden xl:block xl:col-span-2"></div>
            <ServiceCard title={t("nav.immigration")} href={translatePath('/services/immigration-services/')} img={arcos.src}/>
            <ServiceCard title={t("nav.tax")} href={translatePath('/services/tax-and-financial-services/')} img={kiosko.src}/>

        </div>
    </div>
</div>